body {
  background-image: url("https://www.bing.com/th?id=OIP.LsEPeC07Rbib9Y7sgKwXXAHaFj&pid=Api&rs=1");
}

html {
   scroll-behavior: smooth;
}

.mainTitle {
   font-size: 50px;
}

.jumbotron {
  margin:0px;
  color:white;
  font-family: roboto;
  height: 30px;  
  background-image: url("https://www.bing.com/th?id=OIP.LsEPeC07Rbib9Y7sgKwXXAHaFj&pid=Api&rs=1");
 

}

.aboutTitle {
   color: rgb(207, 36, 36);
   margin-left: 190px;
   margin-top:60px;
   padding:30px;
   
}

.aboutBody {
   margin-left: 50px;
   background-color: rgb(0,0,0,0.4);
   color: white;
  
}


.fa {
   font-size: 70px;
}

.box {
   padding:40px;
   margin:30px;
   background: rgba(161, 61, 61, 0.4);
   
}

.centerTitle {
   font-size: 50px;
  }

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
   
}

.home:hover {
   width:500px;
   height:500px;
}

.navbar {
   background-color:rgba(0,0, 0, 0.4);
   margin: auto;
   
 
}

.staging{
   background-color: rgb(44, 44, 44);
   padding:60px;
   width:400px;
}

.modelHome{
   background-color: rgb(44, 44, 44);
   padding:60px;
   width:400px;
}

.stagingTitle {
   margin-left: 70px;
   font-size: 35px;
   color: rgb(207, 36, 36);
   
   
}

.homeicon{
   margin-left: 95px;
}

.furniture{
   background-color: rgb(202, 106, 106);
   padding:60px;
   width:400px;
}

.furnitureTitle, .designTitle, .modelTitle {
   margin-left: 70px;
   font-size: 35px;
   color: rgb(207, 36, 36);
   
}

.designStudio{
   background-color: rgb(202, 106, 106);
   padding:60px;
   width:400px;
   height:353px
}